*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:  none;
}
h1{
    color: red;
}
li{
    color: green;
}
.liste2{
    margin-top: 20px;
}
.lien{
    display: inline-block;
}
.lien a{
    color: chartreuse;
    font-size: x-large;
    padding: 10px;
    margin-top: 100px;
}
.lien a:hover{
    background-color: orange;
}
p{
    color: aqua;
    font-weight: bolder;
}