*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:  none;
}
h1{
    color: red;
}
li{
    color: green;
}
.lien a{
    display: inline-block;
    color: chartreuse;
}
.lien a:hover{
    background-color: orange;
}
p{
    color: aqua;
    font-weight: bolder;
}